/* styles.css */

body {
    background-color: wheat;
    color: black;
}

/* Light mode styles */
body.light-mode {
    background-color: wheat;
    color: black;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #343a40;
    color: white;
}

.navbar-light-mode {
    background-color: wheat !important;
    color: black;
}

.navbar-dark-mode {
    background-color: #343a40 !important;
    color: white;
}

.navbar-dark-mode .navbar-brand,
.navbar-dark-mode .nav-link {
    color: white !important;
}

.navbar-light-mode .navbar-brand,
.navbar-light-mode .nav-link {
    color: black !important;
}

.card.light-mode {
    background-color: wheat;
    color: black;
    border: 1px solid green;
}

.card.dark-mode {
    background-color: #343a40;
    color: white;
    border: 1px solid grey
}
