/* styles.css */

body {
    background-color: wheat;
    color: black;
}

/* Light mode styles */
body.light-mode {
    background-color: wheat;
    color: black;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #343a40;
    color: white;
}

.navbar-light-mode {
    background-color: wheat !important;
    color: black;
}

.navbar-dark-mode {
    background-color: #343a40 !important;
    color: white;
}

.navbar-dark-mode .navbar-brand,
.navbar-dark-mode .nav-link {
    color: wheat !important;
}

.card.light-mode {
    background-color: white;
    color: black;
}

.card.dark-mode {
    background-color: #343a40;
    color: white;
}

.navbar {
    background-color: wheat !important;
    color: #333 !important;
}

.card-body {
    background-color: #E8CBA1 !important;
    color: #333 !important;
}
